NEXT_PUBLIC_CONTRACT_ADDRESS=0xCC0ba4042B461935b886Dd48d195Cdf4f9Ac988A
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=c4f79cc821944d9680842e34466bfbd
